{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <FONT COLOR="White">
                    Hi, {{user.first_name}}!
                  </FONT>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="logout"><FONT COLOR="White">Log out</FONT></a>
              </li>
              {%if newPost%}
                <li class="nav-item">
                  <a class="nav-link" href="forum">
                    <FONT COLOR="White">
                      <b>
                        New post added! Click here to view!
                      </b>
                    </FONT>
                  </a>
                </li>
              {%else%}
                <li class="nav-item">
                  <a class="nav-link" href="forum"><FONT COLOR="White">Forum</FONT></a>
                </li>
              {%endif%}
              <li class="nav-item">
                <a class="nav-link" href="media"><FONT COLOR="White">Media</FONT></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="finance"><FONT COLOR="White">Finance</FONT></a>
              </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="register"><FONT COLOR="White">New Here? Sign Up!</FONT></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login"><FONT COLOR="White">Already a User? Log In!</FONT></a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'goCalendar' %}">
                <FONT COLOR="White">
                  Calendar
                </FONT>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <h3>
        &nbsp;&nbsp;Welcome to my website!
        <br><br>
      </h3>
      <h5>
        &nbsp;&nbsp;Forum: Make, reply to, and view posts!
        <br><br>
        &nbsp;&nbsp;Media: Upload and view files!
        <br><br>
        &nbsp;&nbsp;Calendar: View the Google calendar! 
      </h5>
</body>
</html>